{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Verify Your E-mail Address" %}{% endblock %} {% block content %}
<h1>{% trans "Please Verify Your Email" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}We require you to verify your email. {% endblocktrans %}</p>

<p>
  {% blocktrans %}We've sent an verification email to you. Please click on the
  link in this email.{% endblocktrans %}
</p>

<p>
  {% blocktrans %}<strong>Note:</strong> you can still
  <a href="{{ email_url }}">change your email</a>.{% endblocktrans %}
</p>

{% endblock %}
