@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

/*--------------------------------------------Retro Cyberpunk Colors*/
:root {
    /* Neon blue */
    --color-one: 0, 191, 255;
    /* Neon pink */
    --color-two: 255, 105, 180;
    /* Neon purple */
    --color-three: 148, 0, 211;
    /* Neon green */
    --color-four: 0, 255, 0;
    /* Neon yellow */
    --color-five: 255, 255, 0;
    /* Dark gray */
    --color-six: 40, 40, 40;
}

/*--------------------------------------------Retro Cyberpunk Colors Classes*/
.neon-blue {
    color: rgb(var(--color-one));
}

.neon-pink {
    color: rgb(var(--color-two));
}

.neon-purple {
    color: rgb(var(--color-three));
}

.neon-green {
    color: rgb(var(--color-four));
}

.neon-yellow {
    color: rgb(var(--color-five));
}

.dark-gray {
    color: rgb(var(--color-six));
}

header {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Orbitron',
        sans-serif;
    place-items: center;
    background: #ffffff;
    color: rgb(var(--color-six));
}

/* heading styling*/
h1 {
    font-family: 'VT323',
        monospace;
    font-weight: bolder;
    color: rgb(var(--color-six));
    font-size: 2em;
}

.animated {
    animation: animation 3s ease;
}

@keyframes animation {
    from {
        letter-spacing: 15px;
    }

    to {
        letter-spacing: 0;
    }
}

h2 {
    margin: 0;
    font-family: 'VT323',
        monospace;
}

h5,
h6 {
    font-family: 'Orbitron',
        sans-serif;
    text-align: center;
    font-size: 1.25em;
}

p {
    font-size: 1.25em;
    text-align: center;
}

.jumbotron {
    color: #ffff;
    /* White text */
}

.card {
    background-color: rgba(var(--color-six), 0.85);
    color: rgb(var(--color-four));
    transition: transform 0.2s ease-in-out;
}

.card-body {
    color: var(--color-two);
    /* Light beige text */
    width: 400px;
    height: 350px;
}

.card-title {
    text-align: justify;
}

.card-img {
    width: 200px;
    height: 150px;
    padding: 50px;
}

/* Add animations */
.card:hover {
    transform: scale(1, 1.1);
    /* Slightly zoom in on hover */
    background-color: rgb(var(--color-two), 0.45)
}

.background-image {
    background-image: url('../img/vintage-games.jpg');
    position: relative;
    width: 100%;
    color: #fff;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-------------------------------------------Nav Bar Styling*/

/*Nav Menu*/
#menu {
    overflow: hidden;
    letter-spacing: 1.5px;
    position: relative;
    font-size: 1em;
    line-height: 30px;
    font-family: 'Orbitron',
        sans-serif;
    text-align: center;
}

/*Nav menu link colors*/
#menu a {
    float: right;
    color: rgb(var(--color-two));
    position: relative;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1.25em;
}

/*Nav menu hovering*/
#menu a:hover {
    text-decoration: none;
    color: rgb(var(--color-one));
}

/*-------------------------------------------Social media styling*/
a {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    color: rgb(var(--color-five));
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
    font-size: 1rem;
}

ul li {
    padding: 1rem;
}

/* map styling */

.fab {
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
}

/* transition for social icon hover animation */
.fa-github {
    transition: 0.3s;
    cursor: pointer;
}

/* social media icons hover color */
.fa-github:hover,
.fa-github:focus {
    color: #808080;
    transform: scale(1.1);
}


/* For device screen resolutions with less than 400px it will remove curved footer */
/*@media only screen and (max-width: 800px)*/