{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">What Is Game Space?</h1>
          <p class="text-center">
            Game Space is your zone for discussing all things gaming realated.
          </p>
          <p class="text-center">
            Whether you're a casual gamer or a hardcore achievement hunter,
            we've got you covered.
          </p>
          <p class="text-center">
            Join this colourful community of gamers and engage in lively
            discussions about your favorite games, strategies, and more.
          </p>
          <p class="text-center">
            At Game Space, we're passionate about gaming, It maybe fun as Player
            1 but its always better with player 2.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
