{% extends "base.html" %} 
{% load i18n %} 
{% block head_title %}
{% trans "LogOut" %}
{% endblock %} 
{% block content %}
<div class="container">
  <div>
    <div>
      <h3>{% trans "Do You Want To Log Out" %}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-signup logout-button" type="submit">
          {% trans 'Log Out' %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
